* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background: #ff5722;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background: #ffe0b2;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

button {
    background: #ff5722;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
}

.hero button {
    margin-top: 20px;
}

#menu,
#cart {
    padding: 40px 8%;
    text-align: center;
}

.food-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.food-card {
    background: white;
    width: 220px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #ccc;
}

.food-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.food-card h4 {
    margin: 15px;
    font-size: 20px;
}

#cart {
    background: white;
}

#cartItems {
    margin: 20px;
}

.cart-item {
    margin: 10px;
}

.order-btn {
    margin-top: 15px;
    background: green;
}
